.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 3px 0 7px black;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background: white top center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Courier New",sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 1%;
}

.header-item{
    margin-left: 2.5%;
    text-decoration: none;
    color: black;
}

.header_logo{
    width: 290px;
    height: 55px;
}



